/*
    Script tạo database cho chương trình Quản Lý Sinh Viên SQL server
    - Lop       : bảng lớp (khóa chính MaLop)
    - GiangVien : bảng giảng viên (khóa chính MaGiangVien, khóa ngoại MaLop --> Lop.MaLop)
                 mỗi giảng viên quản đúng 1 lớp nên MaLop được đặt UNIQUE
    - SinhVien  : bảng sinh viên (khóa chính MaSoSinhVien, khóa ngoại MaLop --> Lop.MaLop)
    Tài khoản đăng nhập mẫu: GV001 / GV002 / GV003 - mật khẩu chung: 123456
*/

IF DB_ID(N'QuanLySinhVien-SQLserver') IS NULL
    CREATE DATABASE [QuanLySinhVien-SQLserver];
GO

USE [QuanLySinhVien-SQLserver];
GO

-- Xóa bảng cũ (theo thứ tự khóa ngoại)
DROP TABLE IF EXISTS [dbo].[SinhVien];
GO

DROP TABLE IF EXISTS [dbo].[GiangVien];
GO

DROP TABLE IF EXISTS [dbo].[Lop];
GO

-- ==================== BẢNG LỚP ====================
CREATE TABLE [dbo].[Lop](
	[MaLop] [nvarchar](10) NOT NULL PRIMARY KEY,
	[TenLop] [nvarchar](100) NOT NULL UNIQUE
);
GO

-- ==================== BẢNG GIẢNG VIÊN ====================
CREATE TABLE [dbo].[GiangVien](
	[MaGiangVien] [nvarchar](10) NOT NULL PRIMARY KEY,
	[TenGiangVien] [nvarchar](100) NOT NULL,
	[MatKhau] [varchar](64) NOT NULL,   -- SHA256 (chữ thường)
	[MaLop] [nvarchar](10) NOT NULL UNIQUE,
	CONSTRAINT [FK_GiangVien_Lop] FOREIGN KEY ([MaLop])
		REFERENCES [dbo].[Lop]([MaLop])
);
GO

-- ==================== BẢNG SINH VIÊN ====================
CREATE TABLE [dbo].[SinhVien](
	[MaSoSinhVien] [nvarchar](20) NOT NULL PRIMARY KEY,
	[TenSinhVien] [nvarchar](100) NOT NULL,
	[DiemSinhVien] [real] NOT NULL CHECK ([DiemSinhVien] > 0 AND [DiemSinhVien] <= 10),
	[MaLop] [nvarchar](10) NOT NULL,
	[ThuTu] [int] NOT NULL DEFAULT 1,
	CONSTRAINT [FK_SinhVien_Lop] FOREIGN KEY ([MaLop])
		REFERENCES [dbo].[Lop]([MaLop])
);
GO

CREATE INDEX [IX_SinhVien_MaLop] ON [dbo].[SinhVien]([MaLop]);
GO

-- ==================== DỮ LIỆU MẪU ====================
INSERT [dbo].[Lop] ([MaLop], [TenLop]) VALUES
(N'OOP', N'Lập trình hướng đối tượng'),
(N'CSDL', N'Cơ sở dữ liệu'),
(N'IPC', N'Mạng máy tính'),
(N'MH', N'Mã hóa ứng dụng'),
(N'KT', N'Kỹ thuật lập trình');
GO


GO